# Settings
APP_ENV="development"
LOCAL_STORAGE_KEY="stor-ley"
SESSION_SECRET="askdjflkajshdkfjhasdlkjfhalksdjhflkajsdhf"
APP_BASE_URL='localhost:3000'
API_BASE_URL="localhost:8888"
# Auth0
AUTH0_DOMAIN='domain.loc.auth0.com'
AUTH0_AUDIENCE='auidence'
AUTH0_CLIENT_ID='asdkfasdljfalsjkdf'
AUTH0_CLIENT_SECRET='asdfkajshdlfjasldkjfaksjdf'
AUTH0_CALLBACK_URL='http://localhost:3000/'
AUTH0_SCOPE='openid profile email offline_access access:test'
