# undesirables
.DS_Store
.env
.solid
.output
.vercel
.netlify
netlify
dist

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# nginx
nginx*.conf
